.Post {
  width: 90%;
  height: fit-content;
  background-color: #201e1e;
  margin: 10px auto;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  border-radius: 10px;
  box-sizing: border-box;
}

.UserPost {
  width: 100%;
  height: fit-content;
  margin-top: 10px;
  margin-bottom: 25px;
}

.UserPost p {
  white-space: nowrap;
  width: 90%;
  max-width: 100%;
  white-space: inherit;
  margin: auto;
}

.UserPost img {
  max-width: 100%;
  margin-top: 25px;
}

.UserInfo {
  width: 100%;
  height: 50px;
  background-color: #ccc;
  display: flex;
  color: black;
  border-radius: 10px 10px 0px 0px;
}

.UserInfo svg {
  font-size: 40px;
  margin: 6px;
}

.UserInfo .BasicInfo {
  display: flex;
  flex-flow: column;
  margin-top: 6px;
}

.UserInfo p {
  margin: 0;
  z-index: 30;
}

.UserInfo small {
  color: grey;
}

.UserInfo .IconPost svg {
  font-size: 25px;
  margin-bottom: -7px;
}

.PostInfo {
  width: 100%;
  height: 20px;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.PostInfo span {
  font-size: small;
  margin: 15px;
  margin-top: -5px;
}

.PostAction {
  width: 100%;
  height: 55px;
  margin: auto;
  border-top: 1px solid #ccc;
  border-radius: 0px 0px 10px 10px;
}

.PostAction button {
  width: 33.333%;
}

.PostAction button svg {
  margin-bottom: -5px;
}

.IconPost {
  margin-left: auto;
  margin-top: 8px;
}
