.Toolbar {
  height: 69px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #26282b;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  box-shadow: 0px 10px 25px rgb(0 0 0 / 56%);
  z-index: 100;
}

.Toolbar img {
  width: 40px;
}

.UserInfo {
  display: none;
  width: 130px;
}

.UserInfo .UserButton {
  width: 150px;
}

.UserInfo .UserButton button {
  width: fit-content;
  margin: 13px 0px 13px 6px;
}

.UserInfo .UserButton svg {
  font-size: 30px;
  margin-bottom: -8px;
}

.Navigation ul {
  list-style: none;
  display: flex;
  margin: 0;
  height: 100%;
}

.Navigation {
  margin: auto;
}

@media (min-width: 600px) {
  .UserInfo {
    display: block;
  }
}
