.Modal {
  position: fixed;
  z-index: 500;
  background-color: #26282b;
  width: 90%;
  min-height: 550px;
  height: fit-content;
  max-height: 80%;
  border: 1px solid rgb(53, 53, 53);
  border-radius: 10px;
  box-shadow: 1px 1px 40px black;
  color: white;
  top: 10%;
  bottom: 20%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.Modal::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.Modal::-webkit-scrollbar-track {
  border: 1px solid transparent;
}

.Modal::-webkit-scrollbar-thumb {
  background: #90b8f8;
  border-radius: 10px;
}

.ModalOpen {
  animation: modalOpen 0.3s ease-out forwards;
}

.ModalClosed {
  animation: modalClosed 0.3s ease-out forwards;
}

@media (min-width: 600px) {
  .Modal {
    width: 550px;
    min-height: 300px;
    height: fit-content;
    left: calc(50% - 250px);
  }
}

@keyframes modalOpen {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes modalClosed {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
