.Comments {
  height: 100%;
  overflow-y: scroll;
}

.CommentsInput {
  display: flex;
  flex-flow: row;
  position: sticky;
  padding: 5px 0 20px 5px;
  bottom: 0;
  background-color: #26282b;
  border-top: 1px solid #90b8f8;
}

.CommentsInput svg {
  font-size: 35px;
  margin-top: 35px;
}

.Comments::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.Comments::-webkit-scrollbar-track {
  border: 1px solid transparent;
}

.Comments::-webkit-scrollbar-thumb {
  background: coral;
  border-radius: 10px;
}
