.SideBar {
  display: none;
  width: 30%;
  height: 100%;
  position: fixed;
  margin-left: auto;
  z-index: 80;
  background-color: #26282b;
}

@media (min-width: 900px) {
  .SideBar {
    display: inline;
  }
}
