.Button {
  height: 40px;
  width: 150px;
  margin-top: 6px;
  background-color: #26282b;
  color: white;
  border: none;
  border-radius: 4px;
  font: 1em sans-serif;
  transition: 0.3s;
}

.Button:hover {
  background-color: #353941;
}

.active {
  color: #90b8f8;
}

.Secondary {
  background-color: #5f85db;
}

.Secondary:hover {
  background-color: #90b8f8;
}
