.Button {
  border-radius: 4px;
  border: none;
  height: 100%;
  color: white;
  font: 1em sans-serif;
  background: #26282b;
  padding: 2px 10px 2px 10px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  cursor: pointer;
}

.Button:hover {
  background-color: #353941;
}

.active {
  color: #90b8f8;
}

.OptionBtn {
  width: 100%;
  margin: 0;
  border-radius: 0;
  display: flex;
}

.OptionBtn svg {
  font-size: 35px;
  margin-top: 2px;
  margin-right: 5px;
}

.Secondary {
  background-color: #5f85db;
}

.Secondary:hover {
  background-color: #90b8f8;
}
