.Button {
  height: 50px;
  width: 150px;
  background-color: #26282b;
  color: white;
  border: none;
  display: flex;
  border-radius: 4px;
  font: 1em sans-serif;
  transition: 0.3s;
}

.Button div {
  display: flex;
  margin: auto auto;
}

.Button div svg {
  margin-bottom: -5px;
  margin-right: 3px;
}

.Button:hover {
  background-color: #353941;
}

.active {
  color: #90b8f8;
}

.OptionBtn {
  width: 100%;
  margin: 0;
  border-radius: 0;
  display: flex;
}

.OptionBtn svg {
  font-size: 35px;
  margin-top: 2px;
  margin-right: 5px;
}

.Secondary {
  background-color: #5f85db;
}

.Secondary:hover {
  background-color: #90b8f8;
}
