.AddPost {
  width: 90%;
  height: 170px;
  background-color: #353941;
  margin: 10px auto;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  border-radius: 10px;
}

.AddPost div {
  display: flex;
}

.AddPost div svg {
  font-size: 40px;
  margin: 5px;
}

.AddPost button {
  margin-left: 4px;
  display: inline-block;
  background-color: #353941;
}

.AddPost button:hover {
  background-color: #26282b;
}

.AddPost button svg {
  margin-bottom: -5px;
}

.AddPost .Inputs {
  display: flex;
  flex-flow: row;
}

.AddPost .Inputs div {
  width: 100%;
}

.BodyInput {
  width: 80%;
}

@media (min-width: 600px) {
  .AddPost {
    width: 600px;
  }
}
