.OptionsModal {
    width: 140px;
    height: fit-content;
    background-color: #353941;
    position: absolute;
    color: azure;
    border: 1px solid #90b8f8;
    border-radius: 5px;
    transition: all 0.3s ease-out;
}

.OptionsModalOpen {
    animation: optionsModalOpen 0.3s ease-out forwards;
  }
  
.OptionsModalClosed {
    animation: optionsModalClosed 0.3s ease-out forwards;
}

@keyframes optionsModalOpen {
    0% {
      opacity: 0;
      transform: translateY(100);
    }
    100% {
      opacity: 1;
      transform: translateY(-100);
    }
  }
  
  @keyframes optionsModalClosed {
    0% {
      opacity: 1;
      transform: translateY(-100);
    }
    100% {
      opacity: 0;
      transform: translateY(100);
    }
  }