input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #353941 inset !important;
  -webkit-text-fill-color: #fff !important;
}

.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
  margin-left: 0px;
}

.InputElement {
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.InputElement:focus {
  outline: none;
}

.InputElement {
  background-color: transparent;
  color: white;
}

.DivInput {
  display: flex;
  background-color: #353941;
  border-radius: 20px;
  border: 1px solid grey;
}

.DivInput svg {
  margin-top: 4px;
}

.InputFile {
  height: 250px;
  max-width: 100%;
  max-height: 300px;
  border: 1px solid grey;
  border-radius: 10px;
  margin: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.InputFile p {
  margin: 0;
}

.InputElementFile {
  display: none;
}

.InputFile label {
  font-size: larger;
  font-weight: 500;
  color: #5f85db;
  cursor: pointer;
}

.InputFile button {
  height: 50px;
}

.Invalid {
  border: 1px solid rgb(252, 72, 72);
}

.ValidationError {
  color: rgb(252, 72, 72);
  margin: 5px 0;
}
