.Toolbar {
  height: 69px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #26282b;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  box-shadow: 0px 5px 15px #6662626e;
  z-index: 90;
}

.Toolbar img {
  width: 40px;
}

.UserInfo {
  display: none;
  width: 130px;
}

.UserInfo span {
  margin-bottom: -11px;
  color: white;
  margin-right: 5px;
}

.UserInfo svg {
  font-size: 30px;
  margin-bottom: -8px;
}
.UserInfo button {
  width: fit-content;
  height: 78%;
}

.Navigation ul {
  list-style: none;
  display: flex;
  margin: 0;
  height: 100%;
}

.Navigation {
  margin: auto;
}

@media (min-width: 600px) {
  .UserInfo {
    display: block;
  }
}
