.ChatInfo {
  background-color: #353941;
  display: flex;
  padding: 5px;
  border-radius: 10px 10px 0px 0px;
}

.ChatInfo svg {
  font-size: 80px;
  margin: 7px;
}

.ChatInfo img {
  vertical-align: middle;
  width: 80px;
  height: 80px;
  margin: 7px;
  border: 1px solid lightgray;
  border-radius: 50%;
}

.ChatInfo h3 {
  margin-left: 10px;
  margin-bottom: 18px;
  font-size: 1.7rem;
  font-weight: 100;
}
