.Notification {
  margin: 2px;
  border-radius: 5px;
}

.Notification {
  width: -webkit-fill-available;
  height: 100%;
  padding: 8px;
  transition: 0.3s;
  cursor: pointer;
  display: flex;
  flex-flow: row;
}

.Notification:hover {
  background-color: #26282b;
}

.Image {
  justify-content: center;
  padding: 10px;
}

.Image svg {
  font-size: 2.5rem;
}

.NotificationContent {
  display: flex;
  flex-grow: 1;
  flex-flow: column;
}

.NotificationDelete {
  display: flex;
  align-items: center;
}

.NotificationDelete button {
  height: auto;
  background-color: transparent;
}
.NotificationDelete button {
  height: auto;
}

.NotificationContent .NotificationText {
  font-weight: 20pc;
  font-size: 1.1em;
}

.NotificationContent .NotificationDate {
  margin-top: 5px;
  color: #90b8f8;
}
