.AddPost {
  width: 90%;
  height: 215px;
  background-color: #353941;
  margin: 10px auto;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.AddPost .UserInfo {
  display: flex;
}

.AddPost div img {
  margin: 5px;
}

.AddPost div p {
  font-size: 1.3rem;
}

.AddPost button {
  background-color: #353941;
}

.AddPost button:hover {
  background-color: #26282b;
}

.AddPost .Inputs {
  display: flex;
  flex-flow: row;
}

.AddPost .Inputs div {
  width: 100%;
}

.BodyInput {
  width: 80%;
}

@media (min-width: 600px) {
  .AddPost {
    width: 100%;
  }
}
