.Auth {
  width: 100%;
  height: fit-content;
  min-width: 400px;
  min-height: 200px;
  display: flex;
  flex-flow: column;
  align-self: center;
  margin: auto;
  background-color: #26282b;
  box-sizing: border-box;
  box-shadow: 5px 5px 100px rgb(54, 53, 53);
  border-radius: 5px;
}

.FormDiv {
  color: white;
  margin: auto;
  height: fit-content;
  display: flex;
  flex-flow: column;
}

.Logo {
  width: fit-content;
  margin: auto;
  margin-bottom: 40px;
  font-size: 2rem;
}

.SwitchAuth {
  display: flex;
  justify-content: space-between;
}

.SwitchAuth button {
  height: 50px;
}

.SwitchButton {
  margin-left: 3px;
  color: cornflowerblue;
  cursor: pointer;
}

.SpinnerDiv {
  width: auto;
  height: auto;
}

@media (min-width: 600px) {
  .Auth {
    width: 600px;
    padding: 30px 0;
  }

  .FormDiv {
    width: 450px;
  }
}
