.NavigationItems {
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.NavigationItems svg {
  margin-bottom: -7px;
  font-size: 2rem;
  margin-right: 10px;
}

/* @media (min-width: 500px) {
    .NavigationItems {
        display: none;
    }
} */
