.Comment {
  display: flex;
  margin-top: 20px;
}

.CommentImage svg {
  font-size: 60px;
  margin-top: 10px;
}

.CommentBody {
  padding: 10px;
  margin-left: 10px;
  background-color: #353941;
  border: 1px solid #90b8f8;
  border-radius: 20px;
}

.CommentBody h3 {
  width: fit-content;
  font-size: 1rem;
  margin-top: 2px;
}

.CommentBody p {
  max-width: 400px;
  width: fit-content;
}

.CommentName {
  display: flex;
  flex-direction: row;
  height: 20px;
}

.CommentName div {
  margin-left: auto;
}
